<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Макрос для трансмиссий -->
    <xacro:macro name="leg_transmission" params="prefix">
        <transmission name="${prefix}_leg1_corpus_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${prefix}_leg1_corpus_joint">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
        <actuator name="${prefix}_leg1_corpus_motor">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
        </transmission>

        <transmission name="${prefix}_leg1_leg2_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${prefix}_leg1_leg2_joint">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="${prefix}_leg1_leg2_motor">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
        <transmission name="${prefix}_foot_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${prefix}_foot_joint">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="${prefix}_foot_motor">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
    </xacro:macro>

    <xacro:leg_transmission prefix="front_right"/>
    <xacro:leg_transmission prefix="back_right"/>
    <xacro:leg_transmission prefix="front_left"/>
    <xacro:leg_transmission prefix="back_left"/>
</robot>